{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <h2>Welcome Lead Resource Center</h2>
        <div>
            <nav>
                <ul>
                    <li><a href="{{ path('lead_new') }}">New Lead</a></li>
                    <li>Sign In</li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
